<!DOCTYPE html>
<html>
<head>
<style>
body {


   background-image:url('C:/Users/Raju/Desktop/download.jpg')

}
h1 {
    color: red;
    margin-left: 80px;
}
</style>
</head>
<body>
<h1>Click on the below button.</h1>

<form method="get" action="ftp://ftp.smartfasal.in/">
  <button type="submit">Visualize data of the day </button>
</form>
<p>
<form method="get" action="http://smartfasal.in/wp">
  <button type="submit">Analyse the data</button>
</form>
<p>
<form method="get" action="http://smartfasal.in/wp">
  <button type="submit">Predict the observations </button>
</form>







</body>
</html>
